* {
  font-family: monospace;
  margin: 0px;
}
.main {
  text-align: center;
  width: 500px;
  /* height: 80vh; */
  margin: auto auto;
  background-color: rgb(208, 224, 238);
}
.main:hover {
  box-shadow: 0px 5px 10px black;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexcol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h3 {
  font-size: 24px;
}
li {
  list-style: none;
}
.mins {
  border-right: 3px solid rgb(200, 90, 36);
}
.plus {
  border-right: 3px solid rgb(57, 190, 100);
}
.btn {
  background: #5f8ae3;
}
.btn:hover {
  background: rgb(200, 90, 36) !important;
}
